/*  Configurações gerais  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --gray-600: #0c0c0d;
  --gray-500: #111112;
  --gray-400: #17171a;
  --gray-300: #252529;
  --gray-200: #afabb6;
  --gray-100: #fbf9fe;
}

.limite {
  width: 90%;
  margin: auto;
}

/*Seção de formulário */

header {
  background-image: url("../images/background.png");
  height: 18.2rem;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  background-color: var(--gray-600);
}

main {
  width: 320px;
  margin: auto;
  background-color: var(--gray-600);
  color: var(--gray-100);
}

.formulario {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.conteiner-item {
  width: 100%;
}
.item {
  color: #fff;
  text-indent: 1rem;
  width: 100%;
  height: 4rem;
  border-radius: 0.6rem;
  background-color: var(--gray-400);
  border: 1px solid var(--gray-300);
}

.conteiner-quantidade {
  width: 30%;
}
.etiquetaQuantidade {
  width: 100%;
}
.quantidade {

  width: 47%;
  text-indent: 1rem;
  color: #fff;
  border: none;
  height: 4rem;
  border-radius: 0.6rem 0px 0rem 0.6rem;
  background-color: var(--gray-500);
}

.quantidade::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.tipo-quantidade {
  width: 49%;
  border: none;
  border-radius: 0rem 0.6rem 0.6rem 0rem;
  height: 4rem;
  background-color: var(--gray-400);
  color: var(--gray-200);
}

.unindoInputs {
  background-color: var(--gray-500);
  border: 1px solid var(--gray-300);
  border-radius: 0.6rem;
}

.conteiner-categoria {
  width: 47%;
}

.categorias {
  width: 100%;
  height: 4rem;
  background-color: var(--gray-400);
  border: 1px solid var(--gray-300);
  color: var(--gray-200);
  border-radius: 0.6rem;
}

.btn-submit {
  background-color: #0c0c0d00;
  border: none;
  align-self: end;
}

/* Seção de itens da lista */

.itensListados {
  height: 400px;
  padding-block: 5rem;
}

.card-item {
  background-color: var(--gray-400);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.8rem;
  border: 1px solid var(--gray-300);
  padding-inline: 1.6rem;
  height: 6rem;
  margin-bottom: 0.8rem;
  font-family: "Inter", sans-serif;
}

.itemNaoComprado {
  appearance: none;
  background: url("../images/checkBoxNaoFlegado.svg") no-repeat;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}

.itemComprado {
  appearance: none;
  background: url("../images/checkBoxFlegado.svg") no-repeat;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}

.dadosItem {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.dadosItem p {
  margin: 0;
  font-size: 1.2rem;
  color: var(--gray-200);
}

.dadosItem h3 {
  margin: 0;
  font-weight: bold;
  font-size: 1.4rem;
}

.imgTipoItem {
  width: 2rem;
}
